h1.title{
    font-size: 50px;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0%;
}
.colorful_heading{
    color: orange;
}
span.highlighted_lines_web{
    color:red;
    font: bold;
}
.first_row{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 5%;
}
.second_row{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first_row img{
    width: 100%;
    margin-top: 20px;
}
.second_row img{
    width: 100%;
    padding-bottom: 500px;
}
#first_section{
    height: 500px;
    background-image: url(related_images/top-banner.png);
    background-repeat: no-repeat;
    
}
.demo_button{
    text-decoration: none;
    background-image: linear-gradient(90deg, orange, red);
    color: white;
    padding: 10px 20px;
}
.cloud_button{
    text-decoration: none;
    background-image: linear-gradient(90deg, black, grey);
    color: white;
    padding: 10px 20px;
}
#second_section{
    height: 500px;
    margin-top: 200px;
    background-image: url("related_images/dream-bg.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}
.single_experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 40%;
}
#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#python_based{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, white, blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 15px;
}
#third_section{
    background-color: #E5E5E5;
    height: 500px;
    width: 100%;
    background-size: 50%;
    position: absolute;
}
#third_section_heading{
    font-weight: bold;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}
.third_row img{
    width: 100%;
}
.third_row{
    box-sizing: content-box;
    text-align: center;
    width: 20%;
    height: 50%;
    padding: 1%;
    margin: 5%;
    background-color: white;
    float: left;
}

